{% extends 'pyp/base.html' %}
{% load staticfiles %}
{% block content %}
    {% for comment in answer.comments_set.all %}

        {{comment.user}}     {{comment.pub_date}}<br>
        {{comment.text}}
<br>
    {% endfor %}
	<div class="boxedshadow">
	</div><br><br>
    <p> Make a new comment?</p>
    <form onsubmit="{% url 'pyp:viewComment' faculty.faculty_code module.id year.id answer.id %}" method="post">{% csrf_token %}
        <input style="height:200px;font-size:14pt;" type="text" name="comment">
        Posting as
        {% if user.is_authenticated %}
            {{ user }}
        {% else %}
            annonymous
        {% endif %}
        <input type="submit" style="height:30px">
    </form>
{% endblock %}