<!DOCTYPE HTML>
<html>
<head><meta name="viewport" content="width=device-width"/>
<title>NUS C.A.P 5.0</title>
<!-- STYLES & JQUERY
================================================== -->
	{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'pyp/css/style.css' %}/">
<link rel="stylesheet" type="text/css" href="{% static 'pyp/css/icons.css' %}/">
<link rel="stylesheet" type="text/css" href="{% static 'pyp/css/slider.css' %}/">
<link rel="stylesheet" type="text/css" href="{% static 'pyp/css/skinblue.css' %}"/><!-- change skin color -->
<link rel="stylesheet" type="text/css" href="{% static 'pyp/css/responsive.css' %}"/>
<script src="{% static 'pyp/js/jquery-1.9.0.min.js' %}"></script><!-- the rest of the scripts at the bottom of the document -->
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'pyp/images/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'pyp/images/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'pyp/images/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'pyp/images/manifest.json' %}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{% static 'pyp/images/ms-icon-144x144.png' %}">
<meta name="theme-color" content="#ffffff">
</head>
<body>
<!-- TOP LOGO & MENU
================================================== -->
<div class="grid">
	<div class="row space-bot">
		<!--Logo-->
		<div class="c4">
			<a href="index.html">
			<img src="{% static 'pyp/images/logo.png' %}" class="logo" alt="">
			</a>
		</div>
		<!--Menu-->
		<div class="c8">
			<nav id="topNav">
			<ul id="responsivemenu">
				<li class="active"><a href="{% url 'pyp:index' %}"><i class="icon-home homeicon"></i><span class="showmobile">Home</span></a></li>
				<li><a href="#">About</a>
					<ul style="display: none;">
						<li><a href="timeline.html">Timeline</a></li>
					</ul>
				</li>
				<li><a href="#">Account</a>
				<ul style="display: none;">
					<li><a href="register.html">Register</a></li>
					<li><a href="../../../accounts/templates/registration/login.html">Login</a></li>
					<!--<li class="last"><a href="404.html">404 Page</a></li><--></-->
				</ul>
				</li>
			</nav>
		</div>
	</div>
</div>
<div class="undermenuarea">
	<div class="boxedshadow">
	</div>
	<!-- SLIDER AREA
	================================================== -->
	<div id="da-slider" class="da-slider">
		<!--Slide 1-->
		<div class="da-slide">
			<h2> Discuss PYP answers </h2>
			<p>
				Stuck on a question? Have a heart-burning question about past year paper questions but have no one to consult?
				Sign up for NUS C.A.P 5.0 and start collaborating and discussing PYP answers now!
			</p>
			<!-- button -->
			<a href="register.html" class="da-link" style="width:122px;">Sign Up</a>
			<div class="da-img">
				<img src="{% static 'pyp/images/stress.jpg' %}" alt="stressed" style="padding-top:50px">
			</div>
		</div>
		<!--Slide 2-->
		<div class="da-slide">
			<h2>Upload your answers</h2>
			<p>
				 Think your answer is the model answer for the question? Upload your answers online and let your peers marvel at your incredible work!
			</p>
			<!-- button -->
			<a href="register.html" class="da-link" style="width:290px;">Start uploading now</a>
			<div class="da-img">
				<img src="{% static 'pyp/images/upload.png' %}" alt="upload" style="padding-top:50px">
			</div>
		</div>
		<!--Slide 3-->
		<div class="da-slide">
			<h2> Upvote and downvote</h2>
			<p>
				 Upvote those answers that are accurate and correct and downvote those answers that are wrong!
			</p>
			<!-- button -->
			<a href="register.html" class="da-link" style="width:150px;">Vote now</a>
			<div class="da-img">
				<img src="{% static 'pyp/images/upvote.png' %}" alt="upvote" style="padding-top:50px">
			</div>
		</div>
		<nav class="da-arrows">
		<span class="da-arrows-prev"></span>
		<span class="da-arrows-next"></span>
		</nav>
	</div>
</div>
<!-- UNDER SLIDER - BLACK AREA
================================================== -->
<div class="undersliderblack">
	<div class="grid">
		<div class="row space-bot">
			<div class="c12">
				<!--Box 1-->
				<div class="c4 introbox introboxfirst">
					<div class="introboxinner">
						<span class="homeicone">
						<i class="icon-bolt"></i>
						</span> Upvote and Downvote System to allow users to see the most accurate answers
					</div>
				</div>
				<!--Box 2-->
				<div class="c4 introbox introboxmiddle">
					<div class="introboxinner">
						<span class="homeicone">
						<i class="icon-cog"></i>
						</span> Practice and compare Past Year Paper answers before your mid-terms or finals!
					</div>
				</div>
				<!--Box 3-->
				<div class="c4 introbox introboxlast">
					<div class="introboxinner">
						<span class="homeicone">
						<i class="icon-lightbulb"></i>
						</span> Upload your own answers online and discuss with peers!

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="shadowunderslider">
</div>
<!-- START content area
================================================== -->
<div class="grid">
	<div class="row space-bot">
		<!--INTRO-->
		<div class="c12">
			<div class="royalcontent">
				<h1 class="royalheader">NUS C.A.P 5.0</h1>
				<h1 class="title" style="text-transform:none;">Click on any of the faculties to start discussing now!</h1>
			</div>
		</div>
		<!--Faculty of Engineering-->
		<div class="c4">
			<h2 class="title hometitlebg"><img src="{% static '/pyp/images/engineering.png' %}" alt="engineering" style="padding-top:15px"><i class="smallrightmargin"></i></i>Faculty of Engineering</h2>
			<div class="noshadowbox">
				<ul style="padding:20%">
					<!-- TODO: add the engineering html -->
					<li><a href="modules.html">Electrical Engineering</a></li>
					<li><a href="modules.html">Civil and Environment Engineering</a></li>
					<li><a href="modules.html">Mechanical Engineering</a></li>
					<li><a href="modules.html">Biomedical Engineering</a></li>
					<li><a href="modules.html">Chemical Engineering</a></li>
					<li><a href="modules.html">Materials Science Engineering</a></li>
				</ul>
				<p class="bottomlink">
					<a href="#" class="neutralbutton"><i class="icon-link"></i></a>
				</p>
			</div>
		</div>
		<!--Faculty of Science-->
		<div class="c4">
		<h2 class="title hometitlebg"><img src="{% static '/pyp/images/science.png' %}" alt="science" style="padding-top:15px"><i class="smallrightmargin"></i></i>Faculty of Science</h2>
			<div class="noshadowbox">
				<ul style="padding:16%">
					<!-- TODO: Add the sciences html -->
					<li><a href="modules.html">Mathematics and Applied Mathematics</a></li>
					<li><a href="modules.html">Statistics and Applied Statistics</a></li>
					<li><a href="modules.html">Chemistry</a></li>
					<li><a href="modules.html">Physics</a></li>
					<li><a href="modules.html">Life Sciences</a></li>
					<li><a href="modules.html">Pharmacy</a></li>
					<li><a href="modules.html">Computational Biology</a></li>
				</ul>
				<p class="bottomlink">
					<a href="#" class="neutralbutton"><i class="icon-link"></i></a>
				</p>
			</div>
		</div>
		<!--Faculty of Arts and Social Science-->
		<div class="c4">
			<h2 class="title hometitlebg"><img src="{% static 'pyp/images/arts.png'%}" alt="arts" style="padding-top:15px"><i class="smallrightmargin"></i></i>Faculty of Arts and Social Science</h2>
			<div class="noshadowbox">
				<ul style="padding:3%">
					<!-- TODO: Add the FASS html -->
					<li><a href="modules.html">Psychology</a></li>
					<li><a href="modules.html">Geography</a></li>
					<li><a href="modules.html">History</a></li>
					<li><a href="modules.html">Japanese Studies</a></li>
					<li><a href="modules.html">Chinese Studies</a></li>
					<li><a href="modules.html">Sociology</a></li>
					<li><a href="modules.html">Philosophy</a></li>
					<li><a href="modules.html">Global Studies</a></li>
					<li><a href="modules.html">Social Work</a></li>
					<li><a href="modules.html">Political Science</a></li>
					<li><a href="modules.html">Communicatons and New Media</a></li>

				</ul>

				<p class="bottomlink">
					<a href="#" class="neutralbutton"><i class="icon-link"></i></a>
				</p>
			</div>
		</div>
	</div>
<div class="grid">
	<div class="row space-bot">
		<!--Faculty of Engineering-->
		<div class="c4">
			<h2 class="title hometitlebg"><img src="{% static '/pyp/images/engineering.png' %}" alt="engineering" style="padding-top:15px"><i class="smallrightmargin"></i></i>Faculty of Engineering</h2>
			<div class="noshadowbox">
				<ul style="padding:20%">
					<!-- TODO: add the engineering html -->
					<li><a href="modules.html">Electrical Engineering</a></li>
					<li><a href="modules.html">Civil and Environment Engineering</a></li>
					<li><a href="modules.html">Mechanical Engineering</a></li>
					<li><a href="modules.html">Biomedical Engineering</a></li>
					<li><a href="modules.html">Chemical Engineering</a></li>
					<li><a href="modules.html">Materials Science Engineering</a></li>
				</ul>
				<p class="bottomlink">
					<a href="#" class="neutralbutton"><i class="icon-link"></i></a>
				</p>
			</div>
		</div>
		<!--Faculty of Science-->
		<div class="c4">
		<h2 class="title hometitlebg"><img src="{% static '/pyp/images/science.png' %}" alt="science" style="padding-top:15px"><i class="smallrightmargin"></i></i>Faculty of Science</h2>
			<div class="noshadowbox">
				<ul style="padding:16%">
					<!-- TODO: Add the sciences html -->
					<li><a href="modules.html">Mathematics and Applied Mathematics</a></li>
					<li><a href="modules.html">Statistics and Applied Statistics</a></li>
					<li><a href="modules.html">Chemistry</a></li>
					<li><a href="modules.html">Physics</a></li>
					<li><a href="modules.html">Life Sciences</a></li>
					<li><a href="modules.html">Pharmacy</a></li>
					<li><a href="modules.html">Computational Biology</a></li>
				</ul>
				<p class="bottomlink">
					<a href="#" class="neutralbutton"><i class="icon-link"></i></a>
				</p>
			</div>
		</div>
		<!--Faculty of Arts and Social Science-->
		<div class="c4">
			<h2 class="title hometitlebg"><img src="{% static 'pyp/images/arts.png'%}" alt="arts" style="padding-top:15px"><i class="smallrightmargin"></i></i>Faculty of Arts and Social Science</h2>
			<div class="noshadowbox">
				<ul style="padding:3%">
					<!-- TODO: Add the FASS html -->
					<li><a href="modules.html">Psychology</a></li>
					<li><a href="modules.html">Geography</a></li>
					<li><a href="modules.html">History</a></li>
					<li><a href="modules.html">Japanese Studies</a></li>
					<li><a href="modules.html">Chinese Studies</a></li>
					<li><a href="modules.html">Sociology</a></li>
					<li><a href="modules.html">Philosophy</a></li>
					<li><a href="modules.html">Global Studies</a></li>
					<li><a href="modules.html">Social Work</a></li>
					<li><a href="modules.html">Political Science</a></li>
					<li><a href="modules.html">Communicatons and New Media</a></li>

				</ul>

				<p class="bottomlink">
					<a href="#" class="neutralbutton"><i class="icon-link"></i></a>
				</p>
			</div>
		</div>
	</div>

<!-- JAVASCRIPTS
================================================== -->
<!-- all -->
<script src="{% static 'pyp/js/modernizr-latest.js' %}"></script>

<!-- menu & scroll to top -->
<script src="{% static 'pyp/js/common.js' %}"></script>

<!-- slider -->
<script src="{% static 'pyp/js/jquery.cslider.js' %}"></script>

<!-- cycle -->
<script src="{% static 'pyp/js/jquery.cycle.js' %}"></script>

<!-- carousel items -->
<script src="{% static 'pyp/js/jquery.carouFredSel-6.0.3-packed.js' %}"></script>

<!-- twitter -->
<script src="{% static 'pyp/js/jquery.tweet.js' %}"></script>

{% block js %}
<!-- Call Showcase - change 4 from min:4 and max:4 to the number of items you want visible -->
<script type="text/javascript">
$(window).load(function(){
			$('#recent-projects').carouFredSel({
				responsive: true,
				width: '100%',
				auto: true,
				circular	: true,
				infinite	: false,
				prev : {
					button		: "#car_prev",
					key			: "left",
						},
				next : {
					button		: "#car_next",
					key			: "right",
							},
				swipe: {
					onMouse: true,
					onTouch: true
					},
				scroll : 2000,
				items: {
					visible: {
						min: 4,
						max: 4
					}
				}
			});
		});
</script>

<!-- Call opacity on hover images from carousel-->
<script type="text/javascript">
$(document).ready(function(){
    $("img.imgOpa").hover(function() {
      $(this).stop().animate({opacity: "0.6"}, 'slow');
    },
    function() {
      $(this).stop().animate({opacity: "1.0"}, 'slow');
    });
  });
</script>
	{% endblock js %}
</body>
</html>
