{% extends 'pyp/base.html' %}
{% load staticfiles %}
{% block title %}
<div class="grid">
		<div class="row">
			<div class="c8">
				<h1 class="titlehead">
                    {{faculty}}
                </h1>
			</div>
			<div class="c4">
				<h1 class="titlehead rightareaheader">
                    Select year of paper
                </h1>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
    {% for year in module.moduleyear_set.all %}
        <br>
        <div style="text-align:center;font-size:30px">
        <a href="{% url 'pyp:viewAnswer'  faculty.id   module.module_code year.id%} "><strong><bold>{{year}}</bold></strong></a>
            {{year.answer_set.all|length}}
        </div>
    <br>
    {% endfor %}
{% endblock %}

{% block reverse %}

<strong> <a href="{% url 'pyp:modules' faculty.id %}">GO BACK</a></strong>

{% endblock %}