{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Login</title>
</head>
<!-- STYLES & JQUERY
================================================== -->
		{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'pyp/css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'pyp/css/icons.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'pyp/css/skinblue.css' %}"/><!-- change skin color -->
<link rel="stylesheet" type="text/css" href="{% static 'pyp/css/responsive.css' %}"/>

<link rel="icon" type="image/png" sizes="32x32" href="{% static 'pyp/images/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'pyp/images/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'pyp/images/favicon-16x16.png' %}">
<body>
	<!-- TOP LOGO & MENU
	================================================== -->
	<div class="grid">
		<div class="row space-bot">
			<!--Logo-->
			<div class="c4">
				<a href="{% url 'pyp:index' %}">
				<img src="{%static 'pyp/images/logo.png' %}" class="logo" alt="">
				</a>
			</div>
			<!--Menu-->
			<div class="c8">
				<nav id="topNav">
				<ul id="responsivemenu">
					<li class="active"><a href="{% url 'pyp:index' %}"><i class="icon-home homeicon"></i><span class="showmobile">Home</span></a></li>
				</nav>
			</div>
		</div>
	</div>
	<!-- CONTENT
	================================================== -->
{% block content %}
    {% endblock%}

	<br><br><br><br><br>
	{% block reverse %}
	{% endblock %}
<!-- JAVASCRIPTS
================================================== -->
<!-- register -->
<script src="js/register.js"></script>
</body>
</html>
