{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<!-- STYLES & JQUERY
================================================== -->
		{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'pyp/css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'pyp/css/icons.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'pyp/css/skinblue.css' %}"/><!-- change skin color -->
<link rel="stylesheet" type="text/css" href="{% static 'pyp/css/responsive.css' %}"/>

<link rel="icon" type="image/png" sizes="32x32" href="{% static 'pyp/images/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'pyp/images/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'pyp/images/favicon-16x16.png' %}">
<body>
	<!-- TOP LOGO & MENU
	================================================== -->
	<div class="grid">
	<div class="row space-bot">
		<!--Logo-->
		<div class="c4">
			<a href="{% url 'pyp:index' %}">
				<img src="{% static 'pyp/images/logo.png' %}" class="logo" alt="">
			</a>
		</div>
		<!--Menu-->
		<div class="c8">
			<nav id="topNav">
			<ul id="responsivemenu">
				<li class="active"><a href="{% url 'pyp:index' %}"><i class="icon-home homeicon"></i><span class="showmobile">Home</span></a></li>
				<li><a href="#">About</a>
					<ul style="display: none;">
						<li><a href="timeline.html">Timeline</a></li>
					</ul>
				</li>
				<li><a href="#">Account</a>
				<ul style="display: none;">
					{% if not user.is_authenticated %}
						<li><a href="{% url 'accounts:signup' %}">Register</a></li>
						<li><a href="/accounts/login">Login</a></li>
					{% else %}
						<li><a href="/accounts/profile">Profile</a></li>
						<li><a href="/accounts/logout">Logout</a></li>
					{% endif %}
					<!--<li class="last"><a href="404.html">404 Page</a></li><-->
				</ul>
				</li>
			</nav>
		</div>
	</div>
</div>
	<!-- CONTENT
	================================================== -->
{% block content %}
    {% endblock%}

	<br><br><br><br><br>
	{% block reverse %}
	{% endblock %}
<!-- JAVASCRIPTS
================================================== -->
<!-- register -->
<script src="{% static 'pyp/js/register.js' %}"></script>
</body>
</html>
