{% extends  'registration/base.html' %}
{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Login</title>
</head>
<!-- STYLES & JQUERY
================================================== -->
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/icons.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/skinblue.css' %}"/><!-- change skin color -->
		<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/responsive.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/login.css'%}"/>
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'accounts/images/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="96x96" href="{% static 'accounts/images/favicon-96x96.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'accounts/images/favicon-16x16.png' %}">
		<body>
<div class='container text-center'>
	<p>Logged out!</p>
</div>

<div class='text-center'>
	<a href="{% url 'login'%}">Click here to login again.</a>
</div>

{% endblock %}
</body>
</html>