{% extends  'registration/base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password</title>
</head>
<!-- STYLES & JQUERY
================================================== -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/icons.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/skinblue.css' %}"/><!-- change skin color -->
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/responsive.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/login.css'%}"/>
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'accounts/images/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'accounts/images/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'accounts/images/favicon-16x16.png' %}">
<body>
<div class="login-card">
    <form action="" method="post">
        {% csrf_token %}
        {% if form.email.errors %} 
        {{ form.email.errors }} 
        {% endif %}
            <p>{{ form.email }}</p> 
        <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
    </form>
</div>
{% endblock %}