{% extends 'registration/base.html' %}
{% block content %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Profile</title>
</head>
<!-- STYLES & JQUERY
================================================== -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/icons.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/skinblue.css' %}"/><!-- change skin color -->
<link rel="stylesheet" type="text/css" href="{% static '/css/responsive.css' %}"/>
<script src="{% static 'accounts/js/jquery-1.9.0.min.js' %}"></script><!-- the rest of the scripts at the bottom of the document -->
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'accounts/images/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'accounts/images/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'accounts/images/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'accounts/images/manifest.json' %}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{% static 'accounts/images/ms-icon-144x144.png' %}">
<meta name="theme-color" content="#ffffff">

        
<div class="container text-center">
    <a href="edit" class="grid">Edit Profile</a>  |   
    <a href="../change-password" class="grid">Change Password</a>

    <br>
  
    <div class="bold">
        <h1>Profile</h1>
        <p>Username: {{ user }} </p>
        <p>First Name: {{ user.first_name }} </p>
        <p>Last Name: {{ user.last_name }} </p>
        <p>Email: {{ user.email }}</p>
        <p> Number of Upvotes: </p>
        <p> Number of Downvotes: </p>
    </div>  
</div>

{% endblock %}